<article class="type-post col-md-6 col-sm-6 col-xs-6">
  <div class="entry-cover">
    <a href="#" title="Entry Cover"><img src="images/blog/latest-1.jpg" alt="latest-1"/></a>
    <div class="entry-meta">
      <div class="posted-on"><span>Aug</span><i>05</i></div>
      <div class="post-comment"><a href="#" title="comment"><i class="fa fa-commenting-o"></i></a><span>2</span></div>
    </div>
    <a href="#" title="Read More" class="read-more">Read More</a>
  </div>
  <h3 class="entry-title"><a href="#" title="Entry Title">{{trip.name}}</a></h3>
  <div class="entry-content">
    <p>{{trip.goals}}</p>
  </div>
</article>
