<a id="top"></a>
<!-- Main Container -->
<div class="main-container container-fluid no-padding">
  <!-- Menu Block -->
  <div class="menu-block">
    <a href="mailto:support@domain.com"><i class="fa fa-envelope-o"></i>support@domain.com</a>
    <nav class="navbar navbar-default ow-navigation">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#top"><img src="images/logo.png"></a>
      </div>
      <div class="navbar-collapse collapse no-padding" id="navbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html"><i><img src="images/icon/home-menu.png" alt="Home menu" /></i>Home</a></li>
          <li><a href="about.html"><i><img src="images/icon/about-menu.png" alt="About menu" /></i>About Us</a></li>
          <li><a href=""><i><img src="images/icon/service-menu.png" alt="Services menu" /></i>Sign Up</a></li>
          <li><a href="portfolio.html"><i><img src="images/icon/portfolio-menu.png" alt="Portfolio menu" /></i>Sign In</a></li>
          <li><a href="contact-us.html"><i><img src="images/icon/contact-menu.png" alt="Contact menu" /></i>Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </nav><!-- nav /- -->
  </div><!-- Menu Block /- -->

  <!-- Container -->
  <div class="container">
    <!-- Top Strip -->
    <div class="container-fluid no-padding top-strip">
      <div class="row">
        <span class="menu-bar"></span>
        <span class="menu-bar-close"></span>
        <div class="pull-right">
            <ul class="top-social no-bottom-margin">
              <li>
                <h3 class="title-li">Hiccup</h3>
              </li>
              <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
      </div>
    </div><!-- Top Strip /- -->

    <!-- Photo Slider -->
    <div id="slider-section" class="slider-section container-fluid no-padding">
      <div class="row">
        <div id="photo-slider" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="images/slider/slide-1.jpg" alt="Slide">
              <div class="carousel-caption">
                <h3>Planificate your <b>Hiking</b> </h3>
              </div>
            </div>
            <div class="item">
              <img src="images/slider/slide-2.jpg" alt="Slide">
              <div class="carousel-caption">
                <h3>Easy-to-use and <b>Free</b></h3>
              </div>
            </div>
            <div class="item">
              <img src="images/slider/slide-3.jpg" alt="Slide">
              <div class="carousel-caption">
                <h3>Share your <b>trip</b> with family and friends</h3>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#photo-slider" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
          </a>
          <a class="right carousel-control" href="#photo-slider" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div><!-- Photo Slider /- -->
    <!-- Latest News -->
    <!-- Features Section -->
    <div id="features-section" class="features-section container-fluid no-padding">
      <div class="section-header">
        <h3>Create your trip</h3>
      </div><!-- Section Header /- -->

      <div class="row">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#support" role="tab" data-toggle="tab">
              <i>
                <img src="images/features/features-ic-1.png" alt="Features" />
                <img src="images/features/features-ic-11.png" alt="Features" />
              </i>
              Big Picture
            </a>
          </li>
          <li role="presentation">
            <a href="#design" role="tab" data-toggle="tab">
              <i>
                <img src="images/features/features-ic-2.png" alt="Features" />
                <img src="images/features/features-ic-22.png" alt="Features" />
              </i>
              Emergency Info
            </a>
          </li>
          <li role="presentation">
            <a href="#responsive" role="tab" data-toggle="tab">
              <i>
                <img src="images/features/features-ic-3.png" alt="Features" />
                <img src="images/features/features-ic-33.png" alt="Features" />
              </i>
              Intinerary
            </a>
          </li>
          <li role="presentation">
            <a href="#colors" role="tab" data-toggle="tab">
              <i>
                <img src="images/features/features-ic-4.png" alt="Features" />
                <img src="images/features/features-ic-44.png" alt="Features" />
              </i>
              Extra info
            </a>
          </li>
          <li role="presentation">
            <a href="#code" role="tab" data-toggle="tab">
              <i>
                <img src="images/features/features-ic-5.png" alt="Features" />
                <img src="images/features/features-ic-55.png" alt="Features" />
              </i>
              Share
            </a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content container-fluid no-padding">
          <div role="tabpanel" class="tab-pane active" id="support">
            <div class="col-md-4 col-sm-5">
              <div class="trip-picture">
                <img src="images/features/mac-pc.png" alt="Mac" />
                <p class="text-white">
                  (Click to Change picture)
                </p>
              </div>
            </div>
            <div class="col-md-8 col-sm-7 feature-content">
              <div class="checkout-content">
                <form>
                  <div class="col-md-7">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Trip Name">
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <textarea type="text" class="form-control" placeholder="Trip Goals"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Start Location">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="End location">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Departure Date/Time">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Return Date/Time">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Planed Route">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Transportation">
                    </div>
                  </div>

                  <div class="col-md-12 text-right">
                    <input type="submit" value="Next >>" class="btn-primary"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="design">
            <div class="col-md-4 col-sm-5">
              <div class="trip-picture">
                <img src="images/features/mac-pc.png" alt="Mac" />
              </div>
            </div>
            <div class="col-md-8 col-sm-7 feature-content">
              <h3>Emergency information</h3>
              <div class="checkout-content">
                <form>
                  <div class="col-md-7">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Comunication">
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Freak out time">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="In Reach Map">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Local contact Name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Local contact email">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Local contact phone">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Managing Agency">
                    </div>
                  </div>

                  <div class="col-md-12 text-right">
                    <input type="submit" value="Next >>" class="btn-primary"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane " id="responsive">
            <div class="col-md-12 col-sm-12 feature-content">
              <div class="checkout-content form-table ">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-2">Start Location</div>
                  <div class="col-md-1">Start Time</div>
                  <div class="col-md-2">End Location</div>
                  <div class="col-md-1">End Time</div>
                  <div class="col-md-1">Water</div>
                  <div class="col-md-1">Hammok</div>
                  <div class="col-md-1">Others</div>
                </div>
                <form>
                  <div class="row">
                    <div class="col-md-2">
                      <h4>Day 1/3 - Mar 05</h4>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group">
                        <label> Previous end location??</label>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Planed start Time">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Planed End Location">
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Planed End Time">
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="input-group">
                        <select>
                          <option>None</option>
                          <option>Low</option>
                          <option>Moderate</option>
                          <option>Normal</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="input-group">
                        <select placeholder="Hammock Trees">
                          <option>Minimal</option>
                          <option>Low</option>
                          <option>Moderate</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group">
                        <input type="checkbox">Fishing
                        <a>Weather</a>
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-2">
                      <h4>Day 2/3 - Mar 06</h4>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group">
                        <label> Previous end location??</label>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Planed start Time">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Planed End Location">
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Planed End Time">
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="input-group">
                        <select>
                          <option>None</option>
                          <option>Low</option>
                          <option>Moderate</option>
                          <option>Normal</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="input-group">
                        <select placeholder="Hammock Trees">
                          <option>Minimal</option>
                          <option>Low</option>
                          <option>Moderate</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group">
                        <input type="checkbox">Fishing
                        <a>Weather</a>
                      </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <h4>Day 3/3 - Mar 07</h4>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group">
                        <label> Previous end location??</label>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Planed start Time">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Planed End Location">
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Planed End Time">
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="input-group">
                        <select>
                          <option>None</option>
                          <option>Low</option>
                          <option>Moderate</option>
                          <option>Normal</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="input-group">
                        <select placeholder="Hammock Trees">
                          <option>Minimal</option>
                          <option>Low</option>
                          <option>Moderate</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group">
                        <input type="checkbox">Fishing
                        <a>Weather</a>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-12 text-right">
                    <input type="submit" value="Next >>" class="btn-primary"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="colors">
            <div class="col-md-4 col-sm-5">
              <div class="trip-picture">
                <img src="images/features/mac-pc.png" alt="Mac" />
              </div>
            </div>
            <div class="col-md-8 col-sm-7 feature-content">
              <div class="checkout-content">
                <form>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Permits/Fees">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Stove fuel">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <textarea type="text" class="form-control" placeholder="Trasportation Time to trailhead"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <textarea type="text" class="form-control" placeholder="Direction Out"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <textarea type="text" class="form-control" placeholder="Condition Cautions"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <textarea type="text" class="form-control" placeholder="Animal Cautions"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <textarea type="text" class="form-control" placeholder="Plant Cautions"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <textarea type="text" class="form-control" placeholder="Mosquito/fly issues"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Supermarket">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Outdoors Store">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="plannign resources">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Attach hinking guide">
                    </div>
                  </div>

                  <div class="col-md-12 text-right">
                    <input type="submit" value="Finish >>" class="btn-primary"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="code">
            <div class="col-md-4 col-sm-5">
              <div class="trip-picture">
                <img src="images/features/mac-pc.png" alt="Mac" / />
              </div>
            </div>
            <div class="col-md-8 col-sm-7 feature-content">
              <h3 class="text-center">Well done! Now share with your friends and family</h3>
              <div class="checkout-content">
                <div class="row">
                  <div class="col-md-4">
                    <div class="share-div">
                      <span><i class="fa fa-globe"></i></span>
                      <p>Public</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="share-div">
                      <span><i class="fa fa-lock"></i></span>
                      <p>Password protected</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="share-div">
                      <span><i class="fa fa-file-pdf-o"></i></span>
                      <p>Download as PDF</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p class="text-center">
                      <a class="btn btn-success">Or sign up to save.</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div><!-- Tab panes /- -->
      </div>
    </div><!-- Features Section /- -->

    <div class="seprator-border row"></div>

    <div id="latest-news" class="latest-news container-fluid">
      <!-- Section Header -->
      <div class="section-header">
        <h3>Public trips from other users</h3>
      </div><!-- Section Header /- -->
      <!-- Row -->
      <div class="row">
        <article class="type-post col-md-6 col-sm-6 col-xs-6">
          <div class="entry-cover">
            <a href="#" title="Entry Cover"><img src="images/blog/latest-1.jpg" alt="latest-1"/></a>
            <div class="entry-meta">
              <div class="posted-on"><span>Aug</span><i>05</i></div>
              <div class="post-comment"><a href="#" title="comment"><i class="fa fa-commenting-o"></i></a><span>2</span></div>
            </div>
            <a href="#" title="Read More" class="read-more">Read More</a>
          </div>
          <h3 class="entry-title"><a href="#" title="Entry Title">A New Home for the Community</a></h3>
          <div class="entry-content">
            <p>In celebration of Envato’s 9th birthday we’re excited to announce that over the past few months we’ve been working on a top secret collaboration with Melbourne based designer NudioStudio27 to create a custom designed Envato Laptop sleeve...</p>
          </div>
        </article>
        <article class="type-post col-md-6 col-sm-6 col-xs-6">
          <div class="entry-cover">
            <a href="#" title="Entry Cover"><img src="images/blog/latest-2.jpg" alt="latest-2"/></a>
            <div class="entry-meta">
              <div class="posted-on"><span>Aug</span><i>07</i></div>
              <div class="post-comment"><a href="#" title="comment"><i class="fa fa-commenting-o"></i></a><span>10</span></div>
            </div>
            <a href="#" title="Read More" class="read-more">Read More</a>
          </div>
          <h3 class="entry-title"><a href="#" title="Entry Title">A New Home for the Community</a></h3>
          <div class="entry-content">
            <p>In celebration of Envato’s 9th birthday we’re excited to announce that over the past few months we’ve been working on a top secret collaboration with Melbourne based designer NudioStudio27 to create a custom designed Envato Laptop sleeve...</p>
          </div>
        </article>
      </div><!-- Row /- -->
    </div><!-- Latest News /- -->
    <div class="seprator-border row"></div>


    <!-- Footer -->
    <div id="footer" class="footer-main container-fluid no-padding row">
      <a id="back-to-top" href="#back-to-top" class="back-to-top"><i class="fa fa-arrow-circle-o-up"></i></a>
      <!-- Bottom Footer -->
      <div class="bottom-footer col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="col-md-6 col-sm-6 col-xs-5">
          <p>&copy; 2016 Hiccup</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-7">
          <ul>
            <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div><!-- Bottom Footer /- -->
    </div><!-- Footer /- -->
  </div><!-- Container /- -->
</div><!-- Main Container -->

{{outlet}}
