<div id="features-section" class="features-section container-fluid no-padding">
  <div class="section-header">
    <h3>Edit your trip</h3>
  </div><!-- Section Header /- -->

  <div class="row">
    {{trip-editor trip=model}}
  </div>
</div><!-- Features Section /- -->

{{outlet}}
