<div class="share-div" {{action "toggleModal"}}>
  <span><i class="fa fa-globe"></i></span>
  <p>Public</p>
</div>


{{#if showTripShareModal }}
  {{#bs-modal title="Public trip url"}}
     {{trip.publicShareUrl}}
  {{/bs-modal}}
{{/if}}
