<div class="share-div" {{action "toggleModal"}}>
  <span><i class="fa fa-lock"></i></span>
  <p>Password protected</p>
</div>

{{#if showTripProtectedShareModal }}
  {{#bs-modal title="Public trip url"}}
     {{trip.privateShareUrl}}
  {{/bs-modal}}
{{/if}}
